.Page {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  .Content_Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;

    justify-content: center;
    align-items: center;

    padding: 5px;
    gap: 20px;

    height: 100%;
    width: 1200px;

    margin-top: 100px;
    margin-bottom: 100px;

    .Post_Card {
      display: flex;
      flex-direction: column;

      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: rgb(15, 38, 61);

      justify-content: center;
      align-items: center;

      height: fit-content;
      min-width: 300px;

      margin: auto;

      .Header {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        display: flex;

        justify-content: flex-start;
        align-items: center;

        padding: 5px;
        gap: 10px;

        height: 40px;
        width: 100%;

        .User_Icon_Container {
          border: 1px solid white;
          border-radius: 50%;

          height: 30px;
          width: 30px;
        }

        .Text {
          margin: auto;
          margin-left: 0px;
        }
      }

      .Image_Container {
        display: flex;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        justify-content: center;
        align-items: center;

        height: 200px;
        width: 100%;

        .Image {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .Info_Section {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: flex-start;

        padding: 5px;

        height: fit-content;
        width: 100%;

        .Text {
          margin: auto;
          margin-left: 0px;
        }

        .Message_Container {
          display: flex;
          flex-direction: column;

          background-color: rgba(0, 0, 0, 0.5);

          padding: 5px;
          gap: 5px;

          justify-content: flex-start;
          align-items: flex-start;

          overflow-Y: scroll;

          height: 200px;
          width: 100%;

          .Text {
            margin: auto;
            margin-left: 0px;
            height: 100%;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .Page {
    .Content_Container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 950px) {
  .Page {
    .Content_Container {
      width: 100%;

      .Post_Card {
        width: 100%;
      }
    }
  }
}